.desktop {
    display: none;
}

header .tablet {
    width: 100%;
    background-color: rgb(18, 18, 18);
    padding-bottom: 6px;
}


header .tablet .navbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8px;
}

.navbar .logo img {
    width: 80px;
    height: 38px;
    border-radius: 5px;
    margin-top: 5px;
}

/* navbar */
.navbar #dropdown-mbtn {
    background-color: unset;
    border: unset;
    padding: 6px 12px;
    border-radius: 20px;

}

.navbar #dropdown-mbtn:hover {
    background-color: rgb(65, 65, 65);
}


.dropdown-m {
    width: 35%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1000;
    overflow-y: scroll;
    transition: 600ms;
}

.dropdown-m .close-M-Btn {
    position: absolute;
    top: 5px;
    right: 15px;
}


.close-M-Btn {
    width: 45px;
    height: 45px;
    display: inline;
    border-radius: 50%;
    padding: 13px 17px;
    cursor: pointer;
}

.navbar .showD {
    left: 0;
}




/* menu */
.D-menu {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.D-menu .D-menu-items .dropdown-menu-i {
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    cursor: pointer;
    background-color: unset;
    color: rgb(213, 213, 213);
    border: unset;
    padding-bottom: 8px;
    width: 100%;
    position: relative;
    align-self: center;
    padding-left: 20px;

}

.D-menu .D-menu-items .dropdown-menu-i:hover {
    color: white;
}


.D-menu .D-menu-items .dropdown-menu-i svg:nth-last-of-type(1) {
    position: absolute;
    right: 20px;
}

.D-menu .D-menu-items {
    color: rgb(255, 255, 255);
    font-family: imdbfont;
    margin-bottom: 15px;

}

.D-menu .D-menu-items .dropdown-m-list {
    list-style: none;
    display: none;
}

.D-menu .D-menu-items ul li {
    color: rgb(255, 255, 255);
    font-size: 12px;
    cursor: pointer;
    padding: 12px 0 12px 55px;
    align-self: center;
    font-family: imdbfont;
}

.D-menu .D-menu-items ul li:hover {
    background-color: rgb(65, 65, 65);
}

.D-menu .D-menu-items ul li:nth-last-of-type(1) {
    border-bottom: 0.5px solid rgb(92, 92, 92);
    padding-bottom: 8px;
}

.D-menu .D-menu-items .showDlist {
    display: block;
}



/* imdb pro */
.imdbpro {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

}

.imdbpro .imdbpro-link {
    display: flex;
    flex-flow: column wrap;
    gap: 5px;
}


.imdbpro .imdbpro-link p {
    font-size: 14px;
    font-weight: 600;
    color: rgb(122, 122, 122);
    font-family: imdbfont;
    transition: 400ms;
}

.imdbpro .imdbpro-link p:hover {
    color: white;
}

.imdbpro .imdbpro-link a {
    color: rgb(221, 221, 221);
    font-family: imdbfont;
    font-size: 12px;
    text-decoration: none;
}

.imdbpro .imdbpro-link a:hover {
    color: white;
}



/* language */
.language {
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
}

.language .language-btn {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    background-color: unset;
    border: unset;
    cursor: pointer;
}

.language .language-btn svg {
    position: absolute;
    right: 25px;
    top: 10px;
}

.language .language-btn h2 {
    font-size: 12px;
    font-weight: 600;
    color: rgb(122, 122, 122);
    font-family: imdbfont;
    transition: 400ms;
}

.language .language-btn h2:hover {
    color: white;
}

.language .language-btn p {
    color: rgb(221, 221, 221);
    font-family: imdbfont;
    font-size: 12px;
    text-decoration: none;
}

.language .language-btn p:hover {
    color: white;
}


.language .language-menuT {
    width: 35%;
    height: 100%;
    background-color: rgb(31, 31, 31);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2000;
    overflow-y: scroll;
    transition: 600ms;
    padding: 5px;
}

.language .showLT {
    left: 0;
}


.language .language-menuT .closeBtnT {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 45px;
    height: 45px;
    display: inline;
    border-radius: 50%;
    padding: 13px 17px;
    cursor: pointer;
}

.language .language-menuT h2 {
    font-family: imdbfont;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 60px;
    padding-left: 20px;
    border-bottom: 0.5px solid rgb(84, 84, 84);
    padding-bottom: 12px;
}

.language .language-menuT p:nth-of-type(1) {
    font-family: imdbfont;
    color: rgb(209, 209, 209);
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    border-bottom: 0.5px solid rgb(84, 84, 84);
    padding-bottom: 12px;
    padding-top: 12px;
}

.language .language-menuT p:nth-of-type(2) {
    font-family: imdbfont;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    border-bottom: 0.5px solid rgb(84, 84, 84);
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language .language-menuT p:nth-of-type(2):hover {
    background-color: rgb(43, 43, 43);
}

.language .language-menuT p:nth-of-type(3) {
    font-family: imdbfont;
    color: rgb(209, 209, 209);
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    border-bottom: 0.5px solid rgb(84, 84, 84);
    padding-bottom: 12px;
    padding-top: 12px;
}

.language .language-menuT ul li {
    font-family: imdbfont;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 12px;
    padding-top: 12px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.language .language-menuT ul li:hover {
    background-color: rgb(43, 43, 43);
}


/* logo */
.tablet .navbar .logo img {
    width: 72px;
    height: 32px;
}

.navbar .showbtn {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3px;
    cursor: pointer;
    background-color: unset;
    font-family: imdbfont;
    border: unset;
}

.navbar .showbtn:hover {
    background-color: rgb(40, 40, 40);
    padding: 4px 12px;
    border-radius: 20px;
}

.navbar .search {
    width: 50%;
    height: 32px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 4px;
    gap: 2px;
}

.navbar .search svg {
    margin-right: 7px;
}


.search button {
    padding: 0 6px 0 9px;
    font-size: 13px;
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    align-items: center;
    border-right: 1.5px rgb(200, 200, 200) solid;
    cursor: pointer;
    border: unset;
    background-color: white;
    font-family: imdbfont;
    border-right: 0.2px solid rgb(79, 79, 79);
}

.search input {
    flex-grow: 3;
    border: unset;
    padding: 5px 0px 6px 8px;
    margin-left: 5px;
    border: unset;
    outline: unset;
}

.search input::placeholder {
    font-family: imdbfont;
    font-size: 13px;
}

.navbar img {
    width: 65px;
    height: 23px;
}

.navbar .signin .signinli {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: imdbfont;
}

.navbar .use-app {
    background-color: rgb(245, 185, 12);
    font-family: imdbfont;
    font-size: 13px;
    width: 70px;
    height: 35px;
    border-radius: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.search .optionmenu-t {
    width: 240px;
    height: 390px;
    background-color: rgb(31, 31, 31);
    position: absolute;
    z-index: 10;
    top: 50px;
    border-radius: 5px;
    display: none;
}

.search .optionmenu-t ul {
    display: flex;
    flex-flow: column wrap;
    list-style: none;
    font-family: imdbfont;
}

.search .optionmenu-t ul li:nth-of-type(1) a {
    color: rgb(241, 194, 24);
    padding-top: 15px;
}

.search .optionmenu-t ul li:nth-last-of-type(1) {
    border-top: 0.5px solid rgb(143, 143, 143);
}

.search .optionmenu-t ul li a {
    text-decoration: none;
    color: rgb(194, 194, 194);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    padding-top: 15px;
}

.search .optionmenu-t ul li {
    height: 55px;
}

.search .optionmenu-t ul li:hover {
    background-color: rgb(65, 65, 65);
}

.search .open {
    display: block;
}