body {
    width: 100%;
    background-color: black;
}

.page-content-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    margin-top: 12px;
}

.page-content-container .banner-side {
    width: 58%;
    transition: 300ms;
    align-items: center;
}

.page-content-container .banner-side:hover {
    opacity: 0.9;
}

.banner-side .banner {
    border-radius: 12px;
}


.page-content-container .banner .swiper-slide {
    width: 100%;
    object-fit: fill;
    cursor: pointer;
    position: relative;
}

.banner .swiper-slide .shadow {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(101, 92, 92, 0), rgba(68, 42, 42, 0.047), rgba(18, 18, 18, 0.307), rgb(0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
}

.page-content-container .banner .swiper-slide>img {
    width: 100%;
    height: 100%;
}


.page-content-container .banner .swiper-slide .poster {
    position: absolute;
    border-radius: 0% 8% 8% 8%;
    position: absolute;
    bottom: 0;
    left: 10px;
}

.banner .swiper-slide .poster svg {
    position: absolute;
    top: 0;
    left: 0;
}


.page-content-container .banner .swiper-slide .poster img {
    width: 140px;
    border-radius: inherit;
    cursor: context-menu;
}


.page-content-container .banner .swiper-slide .poster-info-left {
    position: absolute;
    bottom: 35px;
    left: 170px;
}

.page-content-container .banner .swiper-slide .poster-info-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    bottom: 30px;
    left: 270px;
    gap: 10PX;
    font-weight: 400;
}

.poster-info-right .title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.poster-info-right .title h3 {
    font-family: imdbfont;
    color: white;
    font-size: 27px;
    font-weight: 400;
}

.poster-info-right .title span {
    font-family: imdbfont;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    align-self: flex-end;
}

.page-content-container .banner .swiper-slide .poster-info-right>span {
    font-family: imdbfont;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
}

.page-content-container .banner .swiper-slide .poster-info-right .likes-first {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.poster-info-right .likes-first span {
    font-family: imdbfont;
    font-size: 14px;
    color: #b0b0b0;
    font-weight: 400;
}

/* about movies */
.page-content-container .about-movies {
    width: 25%;
    align-self: center;
}

.page-content-container .about-movies h3 {
    color: rgb(245, 185, 12);
    font-size: 20px;
    font-weight: 400;
    font-family: imdbfont;
}

.about-movies .movies {
    display: flex;
    flex-flow: column wrap;
    gap: 15px;
    width: 100%;
    background: linear-gradient(180deg, #121212 0%, #000000 80%);
    margin-top: 30px;
    border-radius: 3px;
    margin-bottom: 30px;
}

.about-movies .movies .movie-part {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
}

.about-movies .movies .movie-part img {
    width: 90px;
    align-self: center;
    border-radius: 15px;
}

.about-movies .movies .movie-part .info {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 8px;
    cursor: pointer;
}

.about-movies .movies .movie-part .info .play {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 8px;
}

.about-movies .movies .movie-part .info .play span {
    color: rgba(212, 197, 197, 0.7);
    font-size: 15px;
    font-family: imdbfont;
    font-weight: 400;
    align-self: flex-end;
}

.about-movies .movies .movie-part .info>span:nth-of-type(1) {
    font-family: imdbfont;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.about-movies .movies .movie-part .info>span:nth-of-type(2) {
    font-family: imdbfont;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
}

.about-movies .movies .movie-part .info .likes {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.about-movies .movies .movie-part .info .likes span {
    font-family: imdbfont;
    font-size: 12px;
    color: #b0b0b0;
    font-weight: 400;
}

.about-movies a {
    color: white;
    font-family: imdbfont;
    font-size: 20px;
    text-decoration: none;
    font-weight: 400;
}

.about-movies a:hover {
    color: rgb(247, 212, 58);
}

.page-content-container .banner .swiper-button-next {
    color: white;
    position: absolute;
    top: 180px;
}

.page-content-container .banner .swiper-button-next::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);

}

.page-content-container .banner .swiper-button-prev {
    color: white;
    position: absolute;
    top: 180px;
}

.page-content-container .banner .swiper-button-prev::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);
}