.watchlist-line {
    width: 90%;
    margin: 0 auto;
}

.watchlist-line .list-title {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 60px;
    padding: 20px 10px;
}

.watchlist-line .list-title h2 {
    color: rgb(245, 197, 24);
    font-family: imdbfont;
    font-size: 28px;
    font-weight: 400;

}

.watchlist-line .list-title a {
    color: rgb(87, 153, 239);
    text-decoration: none;
    font-family: imdbfont;
    padding: 8px 12px;
    border-radius: 20px;

}

.watchlist-line .list-title a:hover {
    background-color: rgba(10, 10, 75, 0.5);
}

.watchlist-line span {
    color: white;
    font-family: imdbfont;
    font-size: 22px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    font-weight: 400;
}

.watchlist-line .access {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    gap: 6px;
    font-weight: 400;
}

.watchlist-line .access svg {
    margin-bottom: 15px;
}

.watchlist-line .access span {
    font-size: 15px;
    font-family: imdbfont;
    font-weight: 400;
}

.watchlist-line .access span:nth-of-type(2) {
    font-weight: 400;
}

.watchlist-line .access a {
    font-family: imdbfont;
    color: rgb(63, 153, 239);
    text-decoration: none;
    background-color: rgb(20, 20, 20);
    padding: 8px 20px;
    border-radius: 20px;
    font-size: 14px;
    margin-top: 20px;
    transition: 300ms;
}

.watchlist-line .access a:hover {
    background-color: rgb(37, 38, 43);
}




/* top movies */

.top-movies {
    width: 90%;
    margin: 50px auto;
}

.top-movies h2 {
    color: white;
    font-family: imdbfont;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
}

.top-movies .top-movies-line {
    width: 98%;
    height: 550px;
    position: relative;
    margin-top: 25px;
}

.top-movies .top-movies-line .swiper-button-next {
    color: white;
    position: absolute;
    top: 180px;
}

.top-movies .top-movies-line .swiper-button-next::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);

}

.top-movies .top-movies-line .swiper-button-prev {
    color: white;
    position: absolute;
    top: 180px;
}

.top-movies .top-movies-line .swiper-button-prev::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);
}

.top-movies .top-movies-line {
    width: 100%;
    position: relative;
}


.top-movies .top-movies-line .swiper-slide {
    background-color: rgb(26, 26, 26);
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}

.top-movies .top-movies-line .swiper-slide .wathing-more {
    position: absolute;
    top: 0;
    left: 0;
}


.top-movies .top-movies-line .swiper-slide img {
    width: 100%;
    border-top-right-radius: 20px;
    transition: 300ms;
}

.top-movies .top-movies-line .swiper-slide img:hover {
    opacity: 0.8;
}

.top-movies .top-movies-line .swiper-slide .stars {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.top-movies .top-movies-line .swiper-slide .stars span {
    font-family: imdbfont;
    color: rgb(145, 145, 145);
}

.top-movies .top-movies-line .swiper-slide span {
    color: white;
    font-family: imdbfont;
    padding: 0 5px;
}

.top-movies .top-movies-line .swiper-slide span:hover {
    text-decoration: underline;
}

.top-movies .top-movies-line .swiper-slide button {
    width: 80%;
    height: 35px;
    border-radius: 40px;
    align-self: center;
    font-family: imdbfont;
    color: rgb(63, 153, 239);
    background-color: rgb(44, 44, 44);
    border: unset;
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.top-movies .top-movies-line .swiper-slide button:hover {
    background-color: rgba(76, 91, 144, 0.5);
}

.top-movies .top-movies-line .swiper-slide .trailer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 20px;
}

.top-movies .top-movies-line .swiper-slide .trailer a {
    text-decoration: none;
    color: white;
    font-family: imdbfont;
}



/* fan-favorites */
.fan-favorites {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}

.fan-favorites h2 {
    color: white;
    font-family: imdbfont;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: 400;
}

.fan-favorites p {
    color: rgb(179, 179, 179);
    font-size: 15px;
    font-family: imdbfont;
    margin-top: 7px;
    margin-left: 12px;
    font-weight: 400;

}

.fan-favorites .favorites {
    width: 98%;
    margin-top: 20px;
}

.fan-favorites .favorites .swiper-slide {
    height: 520px;
    background-color: rgb(26, 26, 26);
    border-radius: 25px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}

.fan-favorites .favorites .swiper-button-next {
    color: white;
    position: absolute;
    top: 180px;
}

.fan-favorites .favorites .swiper-button-next::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);

}

.fan-favorites .favorites .swiper-button-prev {
    color: white;
    position: absolute;
    top: 180px;
}

.fan-favorites .favorites .swiper-button-prev::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);
}

.fan-favorites .favorites .swiper-slide img {
    width: 100%;
    border-top-right-radius: 20px;
    transition: 300ms;
    cursor: pointer;
}

.fan-favorites .favorites .swiper-slide img:hover {
    opacity: 0.8;
}

.fan-favorites .favorites .swiper-slide .wathing-more {
    position: absolute;
    top: 0;
    left: 0;
}

.fan-favorites .favorites .swiper-slide .stars {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
}

.fan-favorites .favorites .swiper-slide .stars span {
    font-family: imdbfont;
    color: rgb(145, 145, 145);
}

.fan-favorites .favorites .swiper-slide span {
    color: white;
    font-family: imdbfont;
    padding: 0 5px;
    cursor: pointer;
}

.fan-favorites .favorites .swiper-slide span:hover {
    text-decoration: underline;
}

.fan-favorites .favorites .swiper-slide button {
    width: 80%;
    height: 35px;
    border-radius: 40px;
    align-self: center;
    font-family: imdbfont;
    color: rgb(63, 153, 239);
    background-color: rgb(44, 44, 44);
    border: unset;
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.fan-favorites .favorites .swiper-slide button:hover {
    background-color: rgba(76, 91, 144, 0.5);
}

.fan-favorites .favorites .swiper-slide .trailer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-bottom: 20px;
}

.fan-favorites .favorites .swiper-slide .trailer a {
    text-decoration: none;
    color: white;
    font-family: imdbfont;
}


/* papular */
.popular-line {
    width: 90%;
    margin: 50px auto;
}

.popular-line h2 {
    color: white;
    font-family: imdbfont;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

.popular-line .popular-interests {
    width: 98%;
}

.popular-line .popular-interests .swiper-slide {
    background-color: rgb(26, 26, 26);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-bottom: 10px;
    transition: 300ms;
}

.popular-line .popular-interests .swiper-slide:hover {
    opacity: 0.8;
}

.popular-line .popular-interests .swiper-button-next {
    color: white;
    position: absolute;
    top: 80px;
}

.popular-line .popular-interests .swiper-button-next::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);

}

.popular-line .popular-interests .swiper-button-prev {
    color: white;
    position: absolute;
    top: 80px;
}

.popular-line .popular-interests .swiper-button-prev::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);
}

.popular-line .popular-interests img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.popular-line .popular-interests p {
    color: white;
    cursor: pointer;
    font-family: imdbfont;
    font-size: 15px;
    margin: 5px 10px;
}

.popular-line .popular-interests p:hover {
    text-decoration: underline;
}

/* Exclusive-videos */

.Exclusive-videos {
    width: 90%;
    margin: 0 auto;
}

.Exclusive-videos h2 {
    font-family: imdbfont;
    font-size: 25px;
    color: rgb(245, 197, 24);
    font-weight: 400;
}

.Exclusive-videos h3 {
    font-family: imdbfont;
    color: white;
    font-size: 20px;
    margin-top: 40px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    font-weight: 400;
}

.Exclusive-videos p {
    color: rgb(145, 145, 145);
    font-family: imdbfont;
    margin-left: 10px;
    margin-top: 5px;
    font-weight: 400;
}

.Exclusive-videos .Originals {
    width: 96%;
    margin-top: 30px;
}

.Exclusive-videos .Originals .swiper-slide {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 10px;
}

.Exclusive-videos .Originals .swiper-slide .original-image {
    width: 100%;
    height: 50%;
    position: relative;
    cursor: pointer;
}

.Exclusive-videos .Originals .swiper-slide .original-image .view {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: white;
    font-family: imdbfont;
    font-size: 15px;
    font-weight: 400;
    gap: 8px;
    z-index: 999;
}

.Exclusive-videos .Originals .swiper-slide .original-image img {
    width: 100%;
    border-radius: 15px;
    transition: 300ms;
    cursor: pointer;
}

.Exclusive-videos .Originals .swiper-slide .original-image .shadow {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(101, 92, 92, 0), rgba(68, 42, 42, 0.047), rgba(18, 18, 18, 0.307), rgb(0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
}

.Exclusive-videos .Originals .swiper-slide img:hover {
    opacity: 0.8;
}

.Exclusive-videos .Originals .swiper-button-next {
    color: white;
    position: absolute;
    top: 100px;
}

.Exclusive-videos .Originals .swiper-button-next::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);

}

.Exclusive-videos .Originals .swiper-button-prev {
    color: white;
    position: absolute;
    top: 100px;
}

.Exclusive-videos .Originals .swiper-button-prev::after {
    padding: 8px;
    border-radius: 8%;
    border: 0.5px solid white;
    background-color: rgba(176, 176, 176, 0.168);
}


.Exclusive-videos .Originals .swiper-slide a:nth-of-type(1) {
    font-family: imdbfont;
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.Exclusive-videos .Originals .swiper-slide a:nth-of-type(1):hover {
    text-decoration: underline;
}

.Exclusive-videos .Originals .swiper-slide a:nth-of-type(2) {
    font-family: imdbfont;
    color: rgb(87, 153, 239);
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.Exclusive-videos .Originals .swiper-slide a:nth-of-type(2):hover {
    text-decoration: underline;
}

.Originals .swiper-slide .likes-views {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.Exclusive-videos .Originals .swiper-slide .likes-views span {
    color: rgb(143, 143, 143);
    font-family: imdbfont;
    font-size: 12px;
}